.settings-heading {
  text-align: center;
}

.settings-list {
  list-style-type: none;
  padding-inline-start: 0;
  text-align: center;

  li {
    margin-bottom: 10px;
  }

  .setting-time {
    margin-right: 10px;
    font-weight: bold;
  }
}

.submit-container {
  text-align: center;
}
