.settings-header {
  text-align: center;

  .return-link {
    cursor: pointer;
    display: inline;

    &:hover {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.settings-list {
  list-style-type: none;
  padding-inline-start: 0;
  text-align: center;

  li {
    margin-bottom: 10px;
  }
}

.submit-container {
  text-align: center;
}
