<ng-container *ngIf="editingSetting; else displaySetting">
    <mat-form-field>
        <mat-label>
            <small>{{label}} </small>
        </mat-label>
        <input matInput [type]="type" [formControl]="control" />
    </mat-form-field>
</ng-container>
<ng-template #displaySetting>
    <small>
        <span style="margin-right:10px">{{label}}:</span>
        <span class="setting-time">{{displayValue ? displayValue : control.value}}</span>
    </small>
    <button class="btn-basic" (click)="edit()">Edit</button>
</ng-template>
