/* You can add global styles to this file, and also import other style files */
.btn-basic {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 5px;

  &:hover {
    background-color: lightgray;
  }

  &:disabled {
    border-color: lightgray;
    background-color: white;
    cursor: default;
  }
}
