<div class="timer-container" *ngIf="timer$ | async as timer">
    <h1 class="action" (click)="switchAction()">{{currentAction.toUpperCase()}}</h1>
    <div class="timer"><span class="time" [ngStyle]="{'color': this.currentActionTime - timer.minutes <= 1 ? 'red' : 'black'}">{{timer.minutes | number: '2.0-0'}}:{{timer.seconds | number: '2.0-0'}}.{{timer.milliseconds | number: '2.0-0'}}</span></div>
    <small class="sub-text">(of <span class="current-action-time" (click)="navigateToSettings()">{{currentActionTime}}</span> min)</small>
    <div class="button-container">
        <button type="button" class="btn-basic" (click)="timerRunner(timerRunning ? timerActions.stop : timerActions.start)">{{timerRunning ? timerActions.stop : timerActions.start}}</button>
        <button type="button" class="btn-basic" (click)="reset()" [disabled]="timer.minutes === 0 && timer.seconds === 0 && timer.milliseconds === 0">Reset</button>
    </div>
</div> 
